//@media (max-width: 600px) {
//  .container {
//    width: 100%;
//  }
//}
//@media (min-width: 768px) and (max-width: 768px) {
//  .container {
//    width: 768px;
//  }
//}
//@media (min-width: 992px) and (max-width: 1200px) {
//  .container {
//    width: 992px;
//  }
//}
//@media (min-width: 1200px) {
//  .container {
//    width: 1200px;
//  }
//}

//GENERAL////////////////////////////
body{
  font-family: 'Nosifer', cursive;
}
.container{
  width: 1420px;
  height: 760px;
  position: absolute;
}
.red-text{
  color: #cd0601;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-container{
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  width: 100%;
  height: 20px;
}
.button-style{
  background-color: #7c0200;
  color: white;
}
//doors
.door{
  //background: blue;
  background: transparent;
  border: none;
}
/////////////////////////////////////

//START//////////////////////////////
#start-screen{
  background: url(../images/start-background.jpeg) no-repeat fixed center center;
  background-size: cover;
}
.swal-overlay {
  background-color: #7c0200;
}
#click-to-begin{
  font-size: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rain{
  background: url(../images/rain.png);
  height: 100%;
  animation: rain .3s linear infinite;
}
.rain::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/lightning.png);
  top: -80px;
  transform: rotate(180deg);
  animation: lightning 2s linear infinite;
  opacity: 1;
}
@keyframes rain{
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 10% 100%;
  }
}
@keyframes lightning{
  0%{
    opacity: 0;
  }
  11%{
    opacity: 1;
  }
  14%{
    opacity: 0;
  }
  20%{
    opacity: 0;
  }
  21%{
    opacity: 1;
  }
  24%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}


#start-title{
  margin: 0 auto 0 auto;
  //padding-bottom: 20px;
  font-size: 80px;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}
#entrance{
  //position: relative;
  //left: 47%;
  //top: 500px;
  height: 130px;
  width: 100px;
  position: fixed;
  left: 50%;
  top: 72%;
  transform: translate(-50%, -50%);
}

//LEVELS/////////////////////////////
//Level 1//
#level1-screen{
  background: url(../images/level1-background.jpeg) no-repeat fixed center center;
  background-size: cover;
  height: 0;
  width: 0;
  display: none;
}
#level1-poem{
  text-align: center;
  font-size: 20px;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}
#not-scary-at-all{
  width: 240px;
  height: 465px;
  position: fixed;
  left: 21%;
  top: 55%;
  transform: translate(-50%, -50%);
}
#scary{
  width: 240px;
  height: 465px;
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}
#very-scary{
  width: 240px;
  height: 465px;
  position: fixed;
  left: 79%;
  top: 55%;
  transform: translate(-50%, -50%);
}

//Level 2//
#level2-screen{
  background: url(../images/level2-background.jpeg) no-repeat fixed center center;
  background-size: cover;
  height: 0;
  width: 0;
  display: none;
}
#level2-poem{
  background: #7c0200;
  color: white;
  width: 35%;
  position: fixed;
  left: 20%;
  top: 10%;
  transform: translate(-50%, -50%);
}
#atlas{
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  border-radius: 60%;
  position: fixed;
  left: 59%;
  top: 41%;
  transform: translate(-50%, -50%);
}

//Level 3//
#level3-screen{
  background: black url(../images/level3-background.jpeg) no-repeat fixed center center;
  background-size: contain;
  height: 0;
  width: 0;
  display: none;
}
#level3-poem{
  color: #7c0200;
  font-size: 20px;
  background-color: black;
  width: 90%;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 89.9%;
  transform: translate(-50%, -50%);
}
#black-face{
  background-color: transparent;
  height: 40px;
  width: 25px;
  position: fixed;
  left: 73%;
  top: 50%;
  transform: translate(-50%, -50%);
}
//Level 4//
#level4-screen{
  background: url(../images/level4-background.jpeg) no-repeat fixed center center;
  background-size: contain;
  height: 0;
  width: 0;
  display: none;
}
#stair1{
  width: 160px;
  height: 190px;
  color: white;
  font-weight: bold;
  background-color: transparent;
  position: fixed;
  left: 30%;
  top: 24%;
  transform: translate(-50%, -50%);
}
#middle-door{
  width: 110px;
  height: 180px;
  color: white;
  font-weight: bold;
  background-color: transparent;
  position: fixed;
  left: 49%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#stair2{
  width: 160px;
  height: 190px;
  color: white;
  font-weight: bold;
  background-color: transparent;
  position: fixed;
  left: 69%;
  top: 24%;
  transform: translate(-50%, -50%);
}
#level4-poem{
  font-size: 16px;
  color: white;
  background-color: #7c0200;
  width: 10%;
  position: fixed;
  left: 17%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#level4-exit{
  text-decoration: none;
  color: white;
}

/////////////////////////////////////

//Level 5////////////////////////////
#level5-screen{
  height: 0;
  width: 0;
  display: none;
}
.numpad-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #03342e;

  .numpad{
    padding-left: 10%;
    width: 50%;
    display: grid;
    grid-template-columns: minmax(250px, 500px) 1fr 1fr;
    grid-template-rows: minmax(250px, 500px) 1fr 1fr;
    justify-content: center;
    align-content: center;

    & .console {
      margin-left: 80px;
      margin-right: 80px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      column-gap: 10px;
      row-gap: 10px;
      grid-template-areas:
              "item1 item1 item1"
              "item2 item2 item2"
              "item3 item4 item5"
              "item6 item7 item8"
              "item9 item10 item11"
              "item12 item13 item14";

      .item1 {
        grid-area: item1;
        margin: auto;
        font-size: 50px;
      }

      .item2 {
        grid-area: item2;
      }

      .item3 {
        grid-area: item3;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .item4 {
        grid-area: item4;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .item5 {
        grid-area: item5;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .item6 {
        grid-area: item6;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .item7 {
        grid-area: item7;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .item8 {
        grid-area: item8;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .item9 {
        grid-area: item9;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .item10 {
        grid-area: item10;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .item11 {
        grid-area: item11;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .item12 {
        grid-area: item12;
      }

      .item13 {
        grid-area: item13;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .item14 {
        grid-area: item14;
      }
    }
  }//layout for numbers
}
.numbers{
  background-color: transparent;
  border: none;
  font-family: "Nosifer", cursive;
  font-size: 28px;
  color: white;
  width: 100%;
  height: 100%;
}
.numpad-poem{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 25%;
}
/////////////////////////////////////

//DEATH//////////////////////////////
#death-display{
  height: 0;
  width: 0;
  display: none;
}

#death{
  background-color: #03342e;
}

#death-text{
  & h1{
    margin: 0 auto 0 auto;
    padding-top: 0;
    font-size: 80px;
    text-align: center;
  }
}

.head-container{
  height: 250px;
  width: 250px;
  margin-bottom: 20px;

  #head {
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 60%;
    position: absolute;

    .eye {
      width: 10%;
      height: 10%;
      background-color: red;
      border-radius: 50%;
      position: absolute;

    }

    #right {
      right: 20%;
      top: 20%;
      border-radius: 150% 0;
    }

    #left {
      left: 20%;
      top: 20%;
      border-radius: 0 200%;
    }

    #mouth {
      z-index: 1;
      top: 10px;
      left: 25%;
      right: 25%;
      bottom: 25%;
      height: 70%;
      width: 80%;
      margin: 0 auto;
      border-bottom: 8px solid white;
      border-radius: 100%;
    }

    #nose {
      position: absolute;
      width: 10%;
      height: 10%;
      left: 45%;
      bottom: 50%;
      background-color: red;
      border-radius: 60%;
    }
  }
}
/////////////////////////////////////

//WIN////////////////////////////////
//if possible to add raining cake animation.
#win{
  background: url(../images/dancing-skeletons.gif);
  height: 0;
  width: 0;
  display: none;
}
#win-screen{
  & h1{
    color: red;
    font-size: 80px;
    text-align: center;
    width: 100%;
  }
}
//#win-to-start{
//  background-color: yellowgreen;
//  color: black;
//}
/////////////////////////////////////
